<% content_for :title do %>Alumni Events<% end %>

<!-- Cover area -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'events.jpg' %>
      </div>
    </div>
  </div>
</div><!-- /.cover -->

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1>Alumni Events</h1>

      <table class="table">
        <tr>
          <th>Name</th>
          <th>Event date</th>
          <th>Location</th>
        </tr>

      <% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event %></td>
          <td><%= event.event_date %></td>
          <td><%= event.location %></td>
        </tr>
      <% end %>
      </table>

      <br />

      <% if user_signed_in? %>
        <%= link_to 'New Event', new_event_path %>
      <% end %>
    </div>
  </div>
</div>
