<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1><%= @event.name %></h1>

      <p>
      <strong>Event date:</strong>
      <%= @event.event_date %>
      </p>

      <p>
      <strong>Location:</strong>
      <%= @event.location %>
      </p>

      <p>
      <strong>Description:</strong>
      <%= @event.description %>
      </p>

      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_event_path(@event) %> |
        <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <% end %>
      <%= link_to 'Back', events_path %>
    </div>
  </div>
</div>
