<% content_for :title do %>Home<% end %>
<div class="container-fluid">
<h1>Code for America Alumni</h1>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'alumni_1.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'alumni_2.jpg' %>
    </div>
    <div class="item">
      <%= image_tag 'alumni_3.jpg' %>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>

  <div class="row-fluid">
    <div class="span12">
      <% @alumni.each do |alumni| %>
        <h2><%= link_to pluralize_alumni(alumni.name), alumni_show_path(alumni) %></h2>
        <% if alumni.image_link.nil? %>
          <%= image_tag 'madison.jpg' %>
        <% else %>
          <%= link_to image_tag(alumni.image_link), alumni_show_path(alumni) %>
        <% end %>
        <p><%= alumni.description %></p>
        <% end %>
    </div>
  </div>
</div>
